@import url("FiraCode/fira_code.css");

/* Global styles */
* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
	width: 100%;
	color: #eee;
	font-size: 1.2rem;
}

header {
	background-color: #1a1a1a;
	color: #eee;
	padding: 1rem;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: #eee;
	text-decoration: none;
	margin: 0 1rem;
}

nav a:hover {
	color: #7981fe;
}

h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
	text-align: center;
	color: #7981fe;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #7981fe;
}

h3 {
	margin-bottom: 1rem;
	color: #7981fe;
}

.brand {
	font-family: "Fira Code"
}

.brand-suffix {
	color: #7981fe;
	font-family: "Fira Code"
}

.header-content {
	margin-top: 2rem;
	text-align: center;
	font-size: 10rem;
}

.section {
	margin-top: 2rem;
}

.section li {
	margin-bottom: 1rem;
}

.signup {
	display: block;
  width: 425px;
  height: 500px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
	display: block;
	width: 12rem;
	background-color: #7981fe;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 1rem;
	margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
	text-decoration: none;
	text-align: center;
}

.cta-button:hover {
	background-color: #5863ff;
}
