@import url("FiraCode/fira_code.css");

/* Global styles */
* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
	width: 100%;
	color: #eee;
	font-size: calc(1rem + 1vw);
}

header {
	background-color: #1a1a1a;
	color: #eee;
	padding: 1rem;
}

main {
	margin: 0 auto;
	padding: 2rem;
}

h1 {
	font-size: calc(2rem + 1vw);
	margin-bottom: 1rem;
	text-align: center;
	color: #7981fe;
}

h2 {
	font-size: calc(1.5rem + 1vw);
	margin-bottom: 1rem;
	color: #7981fe;
}

h3 {
	margin-bottom: 1rem;
	color: #7981fe;
}

footer {
	text-align: center;
}

.brand {
	font-family: "Fira Code"
}

.brand-suffix {
	color: #7981fe;
	font-family: "Fira Code"
}

.header-content {
	margin-top: 2rem;
	text-align: center;
	font-size: calc(4rem + 1vw);
}

.section {
	margin-top: 2rem;
}

.section li {
	margin-bottom: 1rem;
}

.signup {
	display: block;
  width: 341px;
  height: 525px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.cta-button img {
}

.cta-button {
	display: block;
	width: 50%;
	background-color: #7981fe;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 1rem;
	margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
	text-decoration: none;
	text-align: center;
}

.cta-button:hover {
	background-color: #5863ff;
}
