@page "/account/signup"

@using  BlazorApp.Shared.Dto
@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
@inject IMatToaster matToaster

<MatCard>
    <div class="logo">
        <img src="images/blazorboilerplate.svg" style="width:100px;" /><br />Blazor Boilerplate
        <br />
        <h4>Sign Up</h4>
    </div>

    <EditForm Model="@registerParameters" OnValidSubmit="@SignupUser" >
        <DataAnnotationsValidator />
        <ValidationSummary />
        <fieldset>
            <div class="form-group d-flex justify-content-end">
                <MatButton Type="submit" Raised="true">Sign Up</MatButton>
            </div>
            <hr />
            <NavLink href="account/login">
                <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
            </NavLink>
        </fieldset>
    </EditForm>
</MatCard>

@code {
    RegisterDto registerParameters { get; set; } = new RegisterDto();

    async Task SignupUser()
    {
        matToaster.Add("SignupUser succeeded", MatToastType.Success, "Success");
    }
}
