@page "/"

<h1><img src="images/blazor-boilerplate-title.png" alt="Loading" title="Dauer" style="max-width: 100%;" /></h1>

<p>Welcome to Dauer, a fitness data editor.</p>

<MatSnackbar IsOpen="true">
    <MatSnackbarContent>If you like Dauer, please put a <a href="https://github.com/slater1/dauer" target="_blank">star on GitHub</a>.</MatSnackbarContent>
    <MatSnackbarActions>
        <MatIconButton Icon="@MatIconNames.Stars" Link="https://github.com/slater1/dauer" style="color: white !important;" target="_blank"></MatIconButton>
    </MatSnackbarActions>
</MatSnackbar>
