@page "/"

<h1><img src="images/blazor-boilerplate-title.png" alt="Loading" title="Blazor Boilerplate" style="max-width: 100%;" /></h1>

<p>Welcome to FitApp, a fitness data editor.</p>

<MatSnackbar IsOpen="true">
    <MatSnackbarContent>If you like BlazorApp, please put a <a href="https://github.com/enkodellc/blazorboilerplate" target="_blank">star on GitHub</a>.</MatSnackbarContent>
    <MatSnackbarActions>
        <MatIconButton Icon="@MatIconNames.Stars" Link="https://github.com/enkodellc/blazorboilerplate" style="color: white !important;" target="_blank"></MatIconButton>
    </MatSnackbarActions>
</MatSnackbar>
